.header {
}
.header__logo {
}
.header__burger-icon {
}
.header__nav {
}
.nav {
}
.nav__list {
}
.nav__item {
}
.header__search {
}
.main {
}
.main__hero {
}
.hero {
}
.hero__title {
}
.hero__description {
}
.hero__button {
}
.btn {
}
.hero__bullits {
}
.bullits {
}
.bullits_item {
}
.main__about {
}
.about {
}
.about__title {
}
.about__description {
}
.about__container {
}
.about__more-information {
}
.more-information {
}
.more-information__container {
}
.more-information__description {
}
.more-information__button {
}
.about__advantages {
}
.advantages {
}
.advantages__item {
}
.advantegaes__img {
}
.advantegaes__img_type-box {
}
.advantages__container {
}
.advantages__title {
}
.advantages__description {
}
.advantegaes__img_type-gear {
}
.main__how {
}
.how {
}
.how__title {
}
.how__list {
}
.how__item {
}
.how__container {
}
.how__information-block {
}
.information-block {
}
.information-block__title {
}
.information-block__description {
}
.information-block__button {
}
.information-block__button_type-more {
}
.information-block__button_type-treaty {
}
.how__img {
}
.main__faq {
}
.faq {
}
.faq__title {
}
.faq__list {
}
.faq__item {
}
.faq__subtitle {
}
.faq__button-more {
}
.footer {
}
.footer__container {
}
.footer__logo {
}
.footer__navigation {
}
.navigation {
}
.navigation_list {
}
.navigation__item {
}
.footer__social {
}
.social {
}
.social__link {
}
.social__icon {
}
.footer_form {
}
.form {
}
.form__title {
}
.form__input {
}
.form__input_type-area {
}
.form__button {
}
.form__personal {
}
.form__checkbox {
}
.footer__description {
}

/* montserrat-regular - cyrillic */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v25-cyrillic-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v25-cyrillic-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-semi-bold - cyrillic */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v25-cyrillic-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v25-cyrillic-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-bold - cyrillic */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v25-cyrillic-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v25-cyrillic-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-extra-bold - cyrillic */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/montserrat-v25-cyrillic-800.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v25-cyrillic-800.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

* {
  box-sizing: border-box;
}

:root {
  --main-text-color: #333333;
  --white-text-color: #fff;
}

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  width: 1920px;
  margin: 0 auto;
}

a {
  line-height: 0;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  font-family: inherit;
  cursor: pointer;
}


.main {
  width: 1770px;
  margin: 0 auto;
}


/* Header */

.header {
  display: flex;
  align-items: center;
  padding: 14px 75px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
}

.header__logo {
  margin-right: auto;
}

.header__burger-icon {
  display: none;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item {
  margin-right: 85px;
}

.nav__link {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  color: var(--main-text-color);
}


/* Section Hero */

.main__hero {
  margin-bottom: 100px;
}

.hero {
  position: relative;
  padding: 100px 0 100px 80px;
  background: url(../img/hero_background_image_1.jpg) center center no-repeat transparent;
  background-size: contain;
  color: var(--white-text-color);
}

.hero__content {
  width: 50%;
}

.hero__title {
  margin-bottom: 24px;
  font-size: 70px;
  line-height: 85px;
  font-weight: 800;
}

.hero__description {
  margin-bottom: 90px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
}

.hero__button {
  padding: 24.83px 36.88px;
  width: 280px;
  height: 78px;
  border: none;
  background-color: #FF9900;
  font-size: 23.46px;
  line-height: 28.6px;
  font-weight: 700;
  color: var(--white-text-color);
}


.hero__bullits {
  position: absolute;
  bottom: 4.9%;
  left: 47.6%;
}

.bullits {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 85px;
}

.bullits_item {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.bullits_item:first-child {
  background-color: white;
}


/* Section About */

.main__about {
  margin-bottom: 100px;
  color: var(--main-text-color);
}

.about__title {
  margin-bottom: 20px;
  padding-left: 2px;
  font-size: 48px;
  line-height: 59px;
  font-weight: 400;
}

.about__description {
  margin-bottom: 50px;
  width: 69.5%;
  font-size: 16px;
  line-height: 2;
  font-weight: 400;
}

.about__container {
  display: flex;
  flex-direction: row;
}

.about__more-information {
  margin-right: 32px;
}

.more-information {
  padding-top: 426px;
  background-image: 
  url(../img/about_background_image.jpg), linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.31) 100%);
  background-repeat: no-repeat no-repeat;
  background-position: center center;   
  background-color: transparent;               
  background-size: contain;
}

.more-information__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  background: rgba(0, 0, 0, 0.5);
  color: var(--white-text-color);
}

.more-information__description {
  width: 60%;
  font-size: 16px;
  line-height: 2;
  font-weight: 700;
}

.more-information__button {
  padding: 17px 35px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: var(--white-text-color);
  border: 3px solid #FF9900;
  background-color: transparent;
}

.about__advantages {
  display: flex;
  flex-direction: column;
  width: 84.55%;
}

.advantages__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 64px 0 64px 59px;
  border: 1px solid #CACACA;
}

.advantages__item:first-child {
  margin-bottom: 32px;
}

.advantages__container {
  margin-left: 50px;
}

.advantages__title {
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
}

.advantages__description {
  width: 75%;
  font-size: 16px;
  line-height: 2;
  font-weight: 400;
}


/* Section How */

.main__how {
  margin-bottom: 100px;
}

.how__title {
  margin-bottom: 50px;
  font-size: 48px;
  line-height: 59px;
  font-weight: 400;
}

.how__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 45px;
}

.how__item {
  margin-right: 85px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}

.how__container {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

.how__information-block {
  width: 43%;
}

.information-block__title {
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.information-block__description {
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 2;
  font-weight: 400;
}

.information-block__button {
  padding: 20px 38px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  border: none;
}

.information-block__button_type-more {
  margin-right: 28px;
  background-color: #FF9900;
  color: var(--white-text-color);
}

.information-block__button_type-treaty {
  padding: 19px 37px;
  background-color: transparent;
  border: 1px solid var(--main-text-color);
  color: var(--main-text-color);
  font-weight: 400;
}

.how__img {
  padding-top: 10px;
}


/* Sectiom FAQ */

.main__faq {
  margin-bottom: 100px;
}

.faq__title {
  margin-bottom: 43px;
  font-size: 48px;
  line-height: 59px;
  font-weight: 400;
}

.faq__list {
  padding-bottom: 30px;
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
}

.faq__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}

.faq__item:not(:last-child) {
  padding-bottom: 30px;
  border-bottom: 1px solid #CACACA;
}

.faq__subtitle {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.faq__button-more {
  cursor: pointer;
}

/* Footer */

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 50px 75px;
  background-color: #222222;
  color: var(--white-text-color);
}
